.card-container {
    text-align: center;
    margin: 5px;
  }
  
  .card-image {
    width: 120px;  /* You can tweak this value */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth animation for scaling */
  }
  
  .card-image:hover {
    transform: scale(1.1); /* Optional: Add hover effect to enlarge the card */
  }
  